.App {
  background-color: #101728;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}

header{
  height: 200px;
  display: flex;
}

header img {
  object-fit: none;
  height: 200px;
  width: 500px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

main h1{
  margin: auto 0;
  height: 100%;
  color: #fff;
  font-size: 100px;
}

@media (max-width: 1300px) {
  main h1{
    font-size: 70px;
  }

  main img {
    width: 400px;
  }
}

@media (max-width: 800px) {
  main h1 {
    display: block;
    font-size: 70px;
  }
  
  main {
    display: block;
  }
  
  main img{
    width: 70vw;
  }
  
  header img {
    height: 150px;
  }
}

@media (max-width: 500px) {
  main h1{
    font-size: 55px;
  }
}